* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background: white;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.3);

  .logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
    }
    li {
      a {
        color: #09777d;
        text-decoration: none;
        font-size: 1.35rem;
        &:hover {
          color: #11c3cc;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url(../Pictures/pexels-photo-416676.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    h3 {
      font-size: 3rem;
      color: white;
      margin: 2rem 0rem;
    }

    button.start {
      background-color: #3bf0e4d2;
      padding: 1rem 1.75rem;
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.856);
      border: none;
      border-radius: 0.75rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: translateY(-5px);
        color: white;
        background-color: #3bf0e5;
      }
      &:active {
        transform: translateY(0);
      }
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 2.5rem 0;
    }

    section.cards {
      display: flex;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        flex: 1 1 300px;
        .image-container {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          margin: 2rem 0rem;
          overflow: hidden;
          img {
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            transition: all 0.2s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }

        h4 {
          font-size: 2rem;
          margin: 1rem 0rem;
        }
        p {
          font-size: 1.25rem;
        }
        a {
          margin: 1rem 0rem;
          text-decoration: none;
          padding: 1rem 1.5rem;
          background-color: #09777d;
          color: white;
          font-size: 1.25rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 18vh;
  justify-content: space-between;
  background-color: rgb(168, 168, 168);
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 5vw;
      height: 5vw;
    }
  }
  nav {
    width: 30%;
    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 1.35rem;
          font-weight: 600;
        }
      }
    }
  }

  section.links {
    a {
      margin: 0rem 1rem;
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #09777d;
}
@media screen and (max-width: 700px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 12vw;
        height: 12vw;
      }
    }
  }

  footer {
    div.logo {
      img {
        width: 12vw;
        height: 12vw;
      }
    }

    section.links {
      margin-top: 1rem;
      a {
        img {
          width: 8vw;
          height: 8vw;
        }
      }
    }
  }
}
